<div class = "content">
    <div class = "center">
        <div *ngIf="!loggedIn; else elseblock">
            <h1>Log In per Creare un Negozio</h1>
        </div>
        <ng-template #elseblock>
            <h1>Crea Negozio</h1>

            <label for="code">Codice Sito:</label><input [(ngModel)] = "model.code"> <br>
            <label for="title">Titolo:</label><input [(ngModel)] = "model.title"> <br>
            <label for="description">Descrizione:</label><input [(ngModel)] = "model.description"> <br>
            <label for="bannerUrl">url Del Banner:</label><input [(ngModel)] = "model.bannerUrl"> <br>
            <br>
            <button (click) = "submit($event)">CREA</button>
        </ng-template>
    </div>
</div>
